.nav {
  padding: 20px;
  height: var(--HeightHeader);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);

  .linkWrapper {
  display: flex;
  justify-content: space-between;
}

  .link {
    padding: 0 10px;
  }
}

